html::before{
    background-image: url('https://files.facepunch.com/forum/upload/110541/87209e7f-1684-47d8-93df-f5878fcde28f/77QYFmw.png'); 
    background-size: auto;
}
.ql-container.ql-snow .ql-editor p {color: #0a0a0a; }
.expandable.expandable-overflown{-webkit-mask-image:none !important;max-height:none !important;}
.expandable{max-height:none !important;}
video{
    white-space: initial;
}
.dropdown.is-bottom-left .dropdown-menu { width: 1200px }
.alert-component .dropdown-item .alert-dropdown, .alert-component .dropdown .dropdown-menu .has-link a .alert-dropdown, .dropdown .dropdown-menu .has-link .alert-component a .alert-dropdown {
    width: 1181px
}
#drawerleft>.drawer-section>.drawer-content .thread>.threadtitle[href^="/f/oify/"],
#drawerleft>.drawer-section>.drawer-content .thread>.threadtitle[href^="/f/oify/"] + div {
    display: none;
}
